* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #11071f;
}
nav {
  background-color: #1a0b2e;
  height: 70px;
  box-shadow: 0px 6px 22px -3px rgba(0, 0, 0, 0.1);
}
.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.nav ul {
  display: flex;
  gap: 100px;
  align-items: center;
  height: 80px;
  width: 65%;
  margin: auto;
}
.nav ul li {
  list-style: none;
}
.nav ul li a:hover {
  color: lightgreen;
}
.nav ul li a {
  text-decoration: none;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: ease-in-out 0.5s;
}
.short_intro {
  display: flex;
  justify-content: center;
  width: 60%;
  margin: auto;
  align-items: center;
}
.main {
  margin-bottom: 130px;
}
.hero_img {
  background-image: url(./assets/image.png);
  background-repeat: repeat;
  background-blend-mode: lighten;
  background-size: cover;
  height: 400px;
}
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
.intro h1,
h3,
p {
  font-family: "Preahvihear", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 19px;
  color: #ffffff;
}
.intro h3 {
  font-size: 30px;
  color: #ffffff;
}
.intro p {
  font-size: 16px;
  color: #ffffff;
}
span {
  color: lightgreen;
  font-weight: 700;
}
.intro-para {
  text-align: center;
  width: 65%;
  margin: auto;
  font-size: 20px;
}
.projectsdiv {
  width: 55%;
  margin: auto;
}
.projectsdiv h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  color: #ccd6f6;
}
.project1 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 50px;
}
.project1_intro {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.project1_video {
  display: flex;
  flex-direction: row;
  background-image: url(./assets/image.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.project_para {
  background-image: url(./assets/Card.png);
  height: 200px;
  border-radius: 20px;
  display: flex;
  align-items: center;
}
.project1_video p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #ccd6f6;
  text-align: left;
  width: 80%;
  margin: auto;
}
.project1_video video {
  width: 450px;
  background-image: url(./assets/image.png);
  background-repeat: repeat;
  background-size: cover;
  background-position: right;
}
.contact {
  width: 55%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.contact h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  color: #ccd6f6;
}
.contact p {
  font-family: "Preahvihear", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 19px;
  color: #ffffff;
  text-align: center;
  width: 70%;
  margin: auto;
  font-size: 20px;
}
.contact ul li {
  list-style: none;
  transition: linear 0.3s;
}
.icons ul {
  display: flex;
  justify-content: left;
  gap: 50px;
  align-items: center;
}
.icons ul li a i {
  font-size: 40px;
  color: #ccd6f6;
}
.icons ul li a {
  font-size: 20px;
  color: #ccd6f6;
  text-decoration: none;
}
.icons ul li:hover {
  transform: scale(1.1);
}
.icons ul li img {
  height: 100px;
  width: 190px;
}
.nav ul li img {
  height: 150px;
  width: 200px;
}
.menu {
  display: none;
}
.links {
  display: flex;
  gap: 180px;
  align-items: center;
}
@media (max-width: 600px) {
  .short_intro {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .intro {
    height: 35vh;
    text-align: center;
    gap: 10px;
  }
  .intro-para {
    width: 90%;
    font-size: 18px;
  }
  .projectsdiv {
    width: 100%;
    text-align: center;
  }
  .project1_video {
    display: flex;
    flex-direction: column;
  }
  .project_para {
    width: 90%;
    margin: auto;
  }
  .project1_video video {
    width: 90%;
    margin: auto;
  }
  .contact {
    width: 100%;
    text-align: center;
  }
  .contact p {
    text-align: center;
    width: 90%;
    font-size: 16px;
  }
  .icons ul li a,
  i {
    font-size: 14px;
  }
  .icons ul {
    gap: 10px;
    width: 90%;
    margin: auto;
  }
  .icons ul li img {
    height: 70px;
    width: 140px;
  }
  html,
  body {
    overflow-x: hidden;
  }
  .nav ul {
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    width: 100%;
  }
  .nav ul li {
    list-style: none;
    margin-bottom: 10px;
  }
  .links {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 90px;
  }
  .links.show {
    display: flex;
    background: #1a0b2e;
  }
  .projectsdiv h1 {
    width: 80%;
    margin: auto; 
  }
  [class^="ri-"],
  [class*=" ri-"] {
    font-size: 40px;
  }
  .menu {
    display: block;
    color: wheat;
    font-size: 70px;
  }
  .nav ul li a {
    font-size: 20px;
  }
}
